body {
  font-family: sans-serif;
  background-color: #111;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

